// COLORS
$blue: #0038a9;
$gray: #d6d6d6;
$light-gray: #f2f2f2;
$dark-gray: #58585b;
$white: #fff;
$black: #1d1d1f;

// VARIABLES
$border: 1px solid $gray;
$borderRadius: 0.25em;
$boxShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

// MIXINS
@mixin display($justify, $items) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
}

@mixin widthContainer {
  width: 100%;
  max-width: 64em;
}

@mixin lightText($fontStyle) {
  line-height: 1.38462;
  font-style: $fontStyle;
  letter-spacing: -0.005em;
  color: $dark-gray;
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .podcast {
    width: 20em;
  }
  .podcast-details-episodes__container {
    @include display(space-between, unset);
  }
}

@media (max-width: 767px) {
  .podcast-details-episodes__container {
    @include display(center, unset);
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .search__filter {
    text-align: right;
  }
}

@media (max-width: 575px) {
  .search__filter {
    margin-top: 2em;
  }
}

// GENERAL STYLES
.App {
  text-align: center;
  color: $black;
  .header {
    @include display(center, center);
    border-bottom: $border;
    .header__logo {
      text-align: left;
      padding: 0.5em;
      @include widthContainer;
      .header__logo-link {
        color: $blue;
        text-decoration: none;
        h1 {
          margin: 0;
          font-size: calc(10px + 2vmin);
          font-weight: bold;
        }
      }
    }
  }
  .search {
    @include display(center, center);
    .search__filter {
      padding: 0.5em;
      @include widthContainer;
      .search__badge,
      .search__input {
        padding: 0.25em 0.5em;
        border-radius: $borderRadius;
      }
      .search__badge {
        background-color: $blue;
        color: $white;
        font-weight: bold;
      }
      .search__input {
        font-size: 1.2em;
        border: $border;
        margin: 0.25em;
      }
    }
  }
  .podcasts {
    @include display(center, unset);
    flex-wrap: wrap;
    margin: 1em auto;
    @include widthContainer;
    .podcast {
      flex-basis: calc(100% / 3 - 102px);
      margin-top: 4.5em;
      cursor: pointer;
      .podcast__image {
        position: static;
        margin-top: -35%;
      }
      .podcast__author {
        span {
          @include lightText(normal);
        }
      }
    }
  }
  .podcast {
    word-wrap: break-word;
    .podcast__image {
      border: $border;
      object-fit: cover;
    }
    .podcast__description {
      p {
        margin: 0.5em 0 0;
      }
    }
  }
  .podcast-details-episodes {
    @include display(center, unset);
    .podcast-details-episodes__container {
      @include widthContainer;
      margin: 2em 0.5em;
      .podcast-details__card {
        .podcast {
          .podcast__title,
          .podcast__author,
          .podcast__description {
            display: block;
            text-align: left;
          }
          .podcast__title {
            margin-bottom: 0.25em;
          }
          .podcast__author {
            @include lightText(italic);
          }
          .podcast__description p {
            @include lightText(italic);
          }
          .podcast__line {
            border-bottom: $border;
            margin: 1em auto;
          }
        }
      }
      .podcast-episodes__container {
        width: inherit;
        min-width: 20em;
        .podcast-episodes__amount {
          text-align: left;
        }
        .podcast-episodes__list {
          text-align: left;
          th,
          td {
            padding: 0.5em;
            width: 100%;
            border-bottom: $border;
          }
          tbody {
            tr {
              height: 100%;
              &:nth-child(odd) {
                background-color: $light-gray;
              }
            }
          }
        }
      }
    }
  }
  .not-found {
    height: 100vh;
    @include display(center, center);
    .not-found__title {
      font-size: 2em;
    }
    .not-found__message {
      @include lightText(normal);
      font-size: 1.5em;
      margin-bottom: 3em;
    }
    .not-found__link {
      font-size: 1.25em;
      text-decoration: none;
      color: $black;
      padding: 0.5em 1em;
      &:hover {
        color: $blue;
      }
    }
  }
  .card {
    padding: 1em;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    box-sizing: border-box;
    min-width: 14em;
    margin: 0.5em;
  }
  .round-image {
    border-radius: $borderRadius * 24;
  }
  .square-image {
    border-radius: $borderRadius;
  }
}
